:root{color-scheme:light dark}@media (prefers-color-scheme: light){:root{--bg-color: #ffffff}}@media (prefers-color-scheme: dark){:root{--bg-color: #000000}}*,*:before,*:after{box-sizing:border-box;margin:0;padding:0}
